@font-face {
    font-family: 'mine-sweeperregular';
    src: url('/fonts/mine-sweeper-webfont.woff2') format('woff2'),
         url('/fonts/mine-sweeper-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: rgb(94, 121, 228)
    
  }

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }

#board {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(63, 62, 62);
    border-radius: 5px;
    background-color: #c0c0c0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    font-family: 'mine-sweeperregular', sans-serif;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-clicked {
    background-color: darkgrey;
}

.x1 {
    color: #0000ff;
}

.x2 {
    color: #008200;
}

.x3 {
    color: #fe0000;
}

.x4 {
    color: #000084;
}

.x5 {
    color: #840000;
}

.x6 {
    color: #008284;
}

.x7 {
    color: #840084;
}

.x8 {
    color: #757575;
}

.disabled {
    pointer-events: none;
}

.reset { 
    width: 50px;
    height: 50px;
    background-color: gray;
    border: 3px solid rgb(63, 62, 62);
    border-radius: 10px;
    margin: 5px;
    padding: 1px;
}

.gamedata {
    background-color: #c0c0c0;
    height: 30px;
    width: 213px;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(63, 62, 62);
    border-radius: 10px;
    text-align: center;

}

table {
    border: 5px solid rgb(63, 62, 62);
    border-radius: 10px;
   
}

td {
    background-color: #c2c2c2;
    height: 30px;
    width: 200px;
    justify-content: center;
    align-items: center;
   
   

}

.highscorescontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}

.tableheader {
    background-color: #c0c0c0;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
}